.agentbar-cnt {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-m);

  .agentbar {
    width: 80%;
    background-color: var(--bg-secondary);
    border: var(--primary-border);
    padding: var(--padding-m);
    border-radius: var(--border-circle-side);
    display: flex;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }

  .agentbar-input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 var(--padding-m);
    font-size: var(--font-m);
    color: var(--text-primary);
  }

  .agentbar-button {
    background-color: var(--interactive-bg-primary-default);
    color: var(--interactive-label-primary-default);
    border-radius: var(--border-circle-side);
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}